{% load static %}

<div class="position-relative overflow-hidden">
    <div class="d-flex min-vh-100" lc-helper="video-bg">
        <video style="z-index:1;object-fit: cover; object-position: 50% 50%;" class="position-absolute w-100 min-vh-100"
            autoplay="" preload="" muted="" loop="" playsinline="">
            <!-- adjust object-position to tweak cropping on mobile -->
            <source src="{% static 'videos/hero.mp4' %}" type="video/mp4">
        </video>
        <div style="z-index:2" class="align-self-center text-center text-light col-md-8 offset-md-2">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h1 class="display-1 fw-bolder">Vehicle License Detection System</h1>
                </div>
            </div>

            <div class="lc-block">
                <div editable="rich">
                    <p class="lead">Effortless and real-time license plate recognition system for vehicles,
                        designed to provide accurate and reliable results..</p>
                </div>
                <br>
                <a class="btn btn-warning btn-lg px-4 me-md-2" href="{% url 'account_signup' %}" role="button">Get Started</a>

            </div>
        </div>
    </div>