{% load static %}
<section class="py-5">
    <div class="py-5 px-4">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-10 mx-auto col-sm-8 col-lg-6">
                <img src="{% static 'images/car-detected.PNG' %}" class="d-block mx-lg-auto img-fluid" alt=""
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-5">Realtime Object Recognition</h2>
                    </div>
                </div>

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">Our system ensures accurate identification and validation of vehicle license
                            plates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="text-center">
    <h1>Revolutionize Security with Real-time License Plate Recognition</h1>
    <p class="lead">Transforming Surveillance, Empowering Security: Unleash the Future with Real-time License Plate
        Recognition</p>
</section>
<section class="py-2">
    <div class="py-5 px-4">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-lg-6">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-5">Desktop App Integration</h2>
                    </div>
                </div>

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">Our system collaborates seamlessly with a custom desktop application. As frames
                            are
                            captured, they are sent to our web application for real-time processing using the power of
                            YOLOv8 and OCR technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 mx-auto col-sm-8 col-lg-6">
                <img src="{% static 'images/desktop.JPG' %}" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
            </div>

        </div>
    </div>

</section>