<div class="py-5 px-4">
    <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-10 mx-auto col-sm-8 col-lg-6">
            <img src="https://images.unsplash.com/photo-1530435460869-d13625c69bbf?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTB8fHdlYnNpdGV8ZW58MHwwfHx8MTYyMTQ0NjkyNg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768"
                class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
        </div>
        <div class="col-lg-6">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-5">Realtime Object Recognition</h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        At tempora rerum ad dicta exercitationem dolores nisi labore ipsum, quia, eligendi eum.
                        Quisquam, qui itaque hic quod corrupti minima sequi sunt!
                    </p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a
                    class="btn btn-primary px-4 me-md-2" href="#" role="button">Click me, I'm a button</a>
                <a class="btn btn-outline-secondary px-4" href="#" role="button">Click me, I'm a button</a>
            </div>

        </div>
    </div>
</div>