{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Send SMS{% endblock title %}

{% block content %}

<div class="container my-4">
    <h2>Send SMS</h2>
    <form>
        <div class="mb-3">
            <label for="user" class="form-label">Select User</label>
            <!-- Replace the options below with your actual user data -->
            <select class="form-select" id="user" name="user">
                {% for user in users %}
                <option value="1"> {{ user.username }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3">
              Your License Plate is:  {{ vehicle_image.plate_number }}
            </textarea>
        </div>
        <a type="submit" class="btn btn-primary" href="{% url 'sms_success' %}">Send SMS</a>
    </form>
</div>

{% endblock content %}